.strong-as-bold strong {
  font-weight: bold;
}

.display-none {
  display: none;
}

small button.small-font {
  font-size: 11px;
}

/* header logo */
.header-logo {
  cursor: pointer;
}

/* link postfix */
body:not(.accessibility-mode) a:not(.unimportant-link)::after {
  content: " \2197";
}

/* moon icon */
.gg-moon, .gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs,1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
  color: #e0e0e0;
}

.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

/* sun icon */
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
  linear-gradient(to bottom,
  currentColor 4px,transparent 0)
  no-repeat 5px -6px/2px 6px,
  linear-gradient(to bottom,
  currentColor 4px,transparent 0)
  no-repeat 5px 14px/2px 6px,
  linear-gradient(to bottom,
  currentColor 4px,transparent 0)
  no-repeat -8px 5px/6px 2px,
  linear-gradient(to bottom,
  currentColor 4px,transparent 0)
  no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
  color: #505050;
  display: none;
}

.gg-sun::after, .gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun::before {
  transform: rotate(-45deg);
}

.gg-sun::after {
  transform: rotate(45deg);
} 

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: dimgray;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 140px;
  top: 20px;
  left: 50%;
  margin-left: -130px; /* Use half of the width (150/2 = 75), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip-button-wrapper:focus + .tooltiptext {
  visibility: visible;
}

/* Tooltip Fade in */
.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 0.25s;
}
.tooltip:hover .tooltiptext {
  opacity: 0.9;
}
.tooltip-button-wrapper:focus + .tooltiptext {
  opacity: 0.9;
}

/* Dark mode */
body {
  --text-color: #222;
  --weak-text-color: #595959;
  --link-color: #2a7ea7;
  --link-hover-color: #00476b;
  --table-border-color: #e5e5e5;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --weak-text-color: #b3b3b3;
  --link-color: #38a9e0;
  --link-hover-color: #3fc0ff;
  --table-border-color: #727272;
  --bkg-color: #121212;
}
body.accessibility-mode {
  --text-color: #000000;
  --weak-text-color: #000000;
  --link-color: #0000ee;
  --link-hover-color: #0000ee;
  --table-border-color: #000000;
  --bkg-color: #ffffff;
}
body.dark-theme.accessibility-mode {
  --text-color: #ffffff;
  --weak-text-color: #ffffff;
  --link-color: #00ffff;
  --link-hover-color: #00ffff;
  --table-border-color: #ffffff;
  --bkg-color: #000000;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --weak-text-color: #b3b3b3;
    --link-color: #38a9e0;
    --link-hover-color: #3fc0ff;
    --table-border-color: #727272;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --weak-text-color: #595959;
    --link-color: #2a7ea7;
    --link-hover-color: #00476b;
    --table-border-color: #e5e5e5;
    --bkg-color: #fff;
  }
  body.accessibility-mode {
    --text-color: #ffffff;
    --weak-text-color: #ffffff;
    --link-color: #00ffff;
    --link-hover-color: #00ffff;
    --table-border-color: #ffffff;
    --bkg-color: #000000;
  }
  body.light-theme.accessibility-mode {
    --text-color: #000000;
    --weak-text-color: #000000;
    --link-color: #0000ee;
    --link-hover-color: #0000ee;
    --table-border-color: #000000;
    --bkg-color: #ffffff;
  }
}

.settings {
  position: absolute;
  display: flex;
  right: 20%;
  text-align: right;
  margin-top: 5px;
}

@media print, screen and (max-width: 1440px) {
  .settings {
    right: 15%;
  }
}

@media print, screen and (max-width: 1250px) {
  .settings {
    right: 10%;
  }
}

@media print, screen and (max-width: 1100px) {
  .settings {
    right: 7.5%;
  }
}

@media print, screen and (max-width: 1000px) {
  .settings {
    right: 5%;
  }
}

@media print, screen and (max-width: 960px) {
  .settings {
    right: 58px;
  }
}

@media print, screen and (max-width: 480px) {
  .settings {
    right: 23px;
  }
}

.link-switch-language {
  cursor: pointer;
  margin-right: 15px;
}

.btn-toggle-dark-mode {
  width: 24px;
}

.gg-moon {
  cursor: pointer;
}

.gg-sun {
  cursor: pointer;
}

.link-reset-dark-mode {
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

body {
  background: var(--bkg-color);
}

h1, p, li, strong, code {
  color: var(--text-color);
}

blockquote, table {
  color: var(--weak-text-color);
}

a, button.link {
  color: var(--link-color);
}

a:hover, a:focus, button.link:hover, button.link:focus {
  color: var(--link-hover-color);
}

/* reference list table */
table.reference-list-table {
  font-size: small;
}

table.reference-list-table tr:first-child td {
  font-variant: small-caps;
}

table.reference-list-table td {
  padding-left: 5px;
  padding-right: 5px;
  border-bottom-color: var(--table-border-color);
}

table.reference-list-table td:first-child {
  padding-left: 5px;
}

table.reference-list-table td:last-child {
  width: 100%;
}

/* blockquote big quote mark effects */
blockquote {
  border-left: unset;
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 0 0.35em 30px;
  line-height: 1.45;
  position: relative;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 60px;
  position: absolute;
  left: -15px;
  top: -10px;
}

/* dark mode reset button */
body .link-reset-dark-mode {
  display: none;
}

body.manual-theme .link-reset-dark-mode {
  display: inline;
}

/* Read more for biography */
.text-fade-out {
  max-height: 125px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.p-read-more-biography {
  margin-top: 10px;
}

button.link.btn-read-more-biography {
  margin-right: 20px;
}

/* make button look likes link */
button.link {
  margin: 0;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

body:not(.accessibility-mode) button.link {
  outline: none;
}

/* underline transition from left to right for links */
body:not(.accessibility-mode) a,
body:not(.accessibility-mode) button.link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}

body:not(.accessibility-mode) a:hover,
body:not(.accessibility-mode) a:focus,
body:not(.accessibility-mode) button.link:hover,
body:not(.accessibility-mode) button.link:focus {
  background-size: 100% 1px;
  outline: none;
}

body.accessibility-mode a,
body.accessibility-mode button.link{
  text-decoration: underline;
}

body.accessibility-mode a.phantom-link {
  border-bottom: 1px var(--link-color) solid;
}

/*
<body>'s classes          |  prefers-color-scheme:screen-showing-color:control-mode
--------------------------|---------------------------------------------------------
(no class)                |  prefer-light:light:auto, prefer-dark:dark:auto
manual-theme              |  prefer-light:light:manual, prefer-dark:dark:manual
manual-theme light-theme  |  prefer-dark:light:manual
manual-theme dark-theme   |  prefer-light:dark:manual
*/

/* user's prefers-color-scheme: light */
body:not(.accessibility-mode).manual-theme.dark-theme img {
  filter: brightness(0.8) contrast(1.2);
}
body.manual-theme.dark-theme img.transparent-dark-image {
  background-color: white;
}
body.manual-theme.dark-theme .tooltip .tooltiptext {
  color: var(--text-color);
  background: #4a4a4a;
}
body.manual-theme.dark-theme .gg-moon {
  display: none;
}
body.manual-theme.dark-theme .gg-sun {
  display: block;
}
body .indicator-dark-mode-auto {
  display: inline;
}
body .indicator-dark-mode-on {
  display: none;
}
body .indicator-dark-mode-off {
  display: none;
}
body.manual-theme .indicator-dark-mode-auto {
  display: none;
}
body.manual-theme .indicator-dark-mode-on {
  display: none;
}
body.manual-theme .indicator-dark-mode-off {
  display: inline;
}
body.manual-theme.dark-theme .indicator-dark-mode-auto {
  display: none;
}
body.manual-theme.dark-theme .indicator-dark-mode-on {
  display: inline;
}
body.manual-theme.dark-theme .indicator-dark-mode-off {
  display: none;
}

/* user's prefers-color-scheme: dark */
@media (prefers-color-scheme: dark) {
  body:not(.accessibility-mode):not(.light-theme) img {
    filter: brightness(0.8) contrast(1.2);
  }
  body:not(.light-theme) img.transparent-dark-image {
    background-color: white;
  }
  body:not(.light-theme) .tooltip .tooltiptext {
    color: var(--text-color);
    background: #4a4a4a;
  }
  body:not(.light-theme) .gg-moon {
    display: none;
  }
  body:not(.light-theme) .gg-sun {
    display: block;
  }
  body .indicator-dark-mode-auto {
    display: inline;
  }
  body .indicator-dark-mode-on {
    display: none;
  }
  body .indicator-dark-mode-off {
    display: none;
  }
  body.manual-theme .indicator-dark-mode-auto {
    display: none;
  }
  body.manual-theme .indicator-dark-mode-on {
    display: inline;
  }
  body.manual-theme .indicator-dark-mode-off {
    display: none;
  }
  body.manual-theme.light-theme .indicator-dark-mode-auto {
    display: none;
  }
  body.manual-theme.light-theme .indicator-dark-mode-on {
    display: none;
  }
  body.manual-theme.light-theme .indicator-dark-mode-off {
    display: inline;
  }
}

/* printing */
@media print {
  .noprint {
    display: none;
  }
  .text-fade-out {
    max-height: none;
    overflow: auto;
    -webkit-mask-image: none;
    mask-image: none;
  }
}
